<h1>Importing modules from packages</h1>

In [ ]:
import pandas as pd
import seaborn as sns
import numpy as np
from matplotlib import pyplot as plt
import requests
import io

<h1>Importing the Iris-dataset</h1>

In [5]:
url="https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv"
response=requests.get(url).content
iris=pd.read_csv(io.StringIO(response.decode('utf-8')))
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
print (iris.shape)

(150, 5)

In [7]:
print (iris.columns)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [8]:
print(iris.species.value_counts())

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

Very balanced dataset